<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="minimalista.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>{{ page.title }}</h1>

    <div class="info">Cuando? {{ page.when }}</div>
    <div class="info">Donde?  {{ page.where }}</div>

    <p>
    {{ content }}
    </p>

    <a href="inscripcion.html" class="button">Registrarse!</a>

    <br>

    <p>{{ page.footer }}</p>
  </body>
</html>
